.wrapper {
  display: inline-block;
  position: relative;
  & .image-zoom {
    width: 20px;
  }
  & .MuiImageList-root {
    flex-wrap: nowrap !important;
  }
}

.root {
  $self: &;
  width: 50px;
  height: 50px;
  margin: 5px 5px;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  border-radius: 10px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.5;

    & + .delIcon {
      opacity: 1;
    }
  }
}

.delIcon {
  position: absolute;
  opacity: 0;
  cursor: pointer;

  top: 17px;
  right: 17px;
  &:hover {
    opacity: 1;
    transition: transform 0.3s ease;
    cursor: pointer;
    transform: scale(1.2);
  }
}

.rootImage {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: space-around;
  overflow: auto !important;
}

.rootImageFullTweet {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-around;
  overflow: hidden !important;
  margin-bottom: 10px !important;
}
.imageList {
  flex-wrap: "nowrap";
  transform: "translateZ(0)";
}

.title {
  color: lighten($color: #000000, $amount: 5);
}

.titleBar {
  background: "linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rg.ba(0,0,0,0) 100%)";
}

.wrapperEmoji {
  & .EmojiPickerReact {
    position: absolute !important;
  }

}
